body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #5b4128, #827263, #b0a79e, #908e82);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#mainHeader {
	width: 100%;
	margin: 0 0 20px 0; 
	padding: 1px 0 2px 0;
	background-color: ;
	color: #ffffff;
	text-align: center;

}

h1
{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 3.2rem;
	text-shadow: 2px 2px 8px gray;
	margin-bottom: 0px;
}
/*
body
{
	font-family: 'Merriweather', serif;
	font-size: 12px;
	line-height: 1.5;

	width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #5b4128, #070b0c, #b0a79e, #908e82);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;

}
*/

.sessionheader {
	width: 100%;
	margin: 0 0 0 0;
    padding: 0.5px 0 0.5px 10px; 
	background-color: ;
	color: #ffffff;
	text-align: left;


}

.roundedDiv{
	border-radius: 5px;
}

button {
	background-color: gray;
	color: #fff;
}

.trainCount {
	box-sizing: border-box;
	background-color: #000000;
	border: 2px solid #dddddd;	
	color: #ffffff;
	margin: 0 0 0 0;
	padding: 2px 4px 2px 2px;			
}

.byline {
	
	font-size: .8em;
}

.results {
	margin: 20, auto;
	padding: 10px 10px 10px 10px;
	box-sizing: border-box;
	background-color: #ffffff;
	border: 2px solid #dddddd;		
}


form {
	width: 100%;
	margin: 0 auto 20px auto;
	padding: 10px 10px 10px 10px;
	box-sizing: border-box;
	background-color: #eeede9;
	border: 2px solid #ddd5d2;

    border-radius: 5px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 125%;
	color: #777777;			
}
.trainSchedule 
{
	text-align: center;
	width: 100%;
	margin: 0 auto 20px auto;
	padding: 10px 10px 10px 10px;
	box-sizing: border-box;
	background-color: #eeede9;
	border: 2px double #ddd5d2;
    border-radius: 5px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 125%;
	color: #777777;	

}
h4
{
	line-height: .5;
	text-align: center;
	color:#434141;
	text-shadow: 1px 1px 4px gray;
	font-weight: bold;
	margin:0px;

}

th
{
	line-height: .5;
	text-align: center;
	color:#434141;
	text-shadow: 1px 1px 4px gray;
	font-weight: bold;
	margin:0px;
}

h5
{
	 text-transform: uppercase;
	 margin:0px;
	 margin-top:20px;
	 margin-bottom:2px;
	 text-shadow: 2px 2px 8px gray;
	 word-spacing: 1px;
	 font-size: 24px;
}	

span
{
	margin:0px;

	padding: 5px;
	font-size:40px;
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari 3-8 */
    transform: rotate(7deg);
	
}	

input 
{
	width: 100%;
	border: 2px double gray;
	    overflow: visible;
}


